

h1 {
	font-family: 'Pangolin', cursive;
	text-align: center;
}
 .Conteneur{
	width: 100%;
	height:100%;
	top: 0;
	left: 0;
    position: absolute;
	background:#B4AF91 ;
	display: flex;
	justify-content:space-around; 
	align-content: center;
	
	}

.photo{
	
	margin-top: 10%;
	margin-left: 25%;
	margin-bottom: 10%;
	width: auto;
	height: auto;

	flex: 1;

	
}
img{
	width: 37%;
	float: right;
	 overflow: hidden;
}

.cell  {
	flex: 1;

	margin-top: 10%;
	margin-right: 25%;
	margin-bottom: 10%;

}
 

 p{
 	 overflow: hidden;
 }
.cercle {
	position: absolute;
	height: 3%;
	width: 3%;
	background-color: #6495ED;
	border-radius: 100%;
	hover+ .hidden;
	display: block;
	top: 27%;
	left: 54%;
	transition: .2s;
	opacity: 2.

}



p{font-family: 'Pangolin', cursive;}

}
footer{
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 100px;
	background: #9E9E9E;;
	text-align:right;
	font-family: 'Arvo', arial;
}